<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <solution>
    <add key="disableSourceControlIntegration" value="true" />
  </solution>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
    <add key="visual-studio-2015-dependencies" value="https://www.myget.org/F/visual-studio-2015-dependencies/api/v3/index.json" />
    <add key="visual-studio-2017-dependencies" value="https://www.myget.org/F/visual-studio-2017-dependencies/api/v3/index.json" />
    <add key="ollon-visualstudio-vs2017" value="https://www.myget.org/F/ollon-visualstudio-vs2017/api/v3/index.json" />
    <add key="myget.org ollon-build-tools" value="https://www.myget.org/F/ollon-build-tools/api/v3/index.json" />
    <add key="dotnet.myget.org cli-deps" value="https://dotnet.myget.org/F/cli-deps/api/v3/index.json" />
    <add key="NuGetizer-3000" value="https://ci.appveyor.com/nuget/nugetizer3000" />
    <add key="myget.org xunit" value="https://www.myget.org/F/xunit/api/v3/index.json" />
    <add key="dotnet.myget.org dotnet-coreclr" value="https://dotnet.myget.org/F/dotnet-coreclr/api/v3/index.json" />
    <add key="dotnet.myget.org dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" />
    <add key="dotnet.myget.org dotnet-corefxtestdata" value="https://dotnet.myget.org/F/dotnet-corefxtestdata/api/v3/index.json" />
    <add key="dotnet.myget.org dotnet-buildtools" value="https://dotnet.myget.org/F/dotnet-buildtools/api/v3/index.json" />
    <add key="dotnet.myget.org symreader" value="https://dotnet.myget.org/F/symreader/api/v3/index.json" />
    <add key="dotnet.myget.org symreader-portable" value="https://dotnet.myget.org/F/symreader-portable/api/v3/index.json" />
    <add key="dotnet.myget.org interactive-window" value="https://dotnet.myget.org/F/interactive-window/api/v3/index.json" />
    <add key="dotnet.myget.org roslyn-master-nightly" value="https://dotnet.myget.org/F/roslyn-master-nightly/api/v3/index.json" />
    <add key="dotnet.myget.org devcore" value="https://www.myget.org/F/vs-devcore/api/v3/index.json" />
    <add key="dotnet.myget.org roslyn-tools" value="https://dotnet.myget.org/F/roslyn-tools/api/v3/index.json" />
    <add key="dotnet.myget.org roslyn" value="https://dotnet.myget.org/F/roslyn/api/v3/index.json" />
    <add key="myget.org vs-editor" value="https://myget.org/F/vs-editor/api/v3/index.json" />
    <add key="dotnet.myget.org nuget-build" value="https://dotnet.myget.org/F/nuget-build/api/v3/index.json" />
  </packageSources>
  <packageRestore>
    <add key="enabled" value="True" />
    <add key="automatic" value="True" />
  </packageRestore>
  <bindingRedirects>
    <add key="skip" value="False" />
  </bindingRedirects>
</configuration>
